/* Mudanças no código quando chegar em 1000px (tablet e celular) */
@media  (min-width: 320px) and (max-width: 420px){
    .bio a {
      width: 300px;
      

    }


    body {
      background-repeat: no-repeat;
      height: 100vh;
    }

    .links {
        padding-bottom: 50px;
    }

  }
  